.main {
  background-color: #f3f4f6;
  /* Equivalent to bg-gray-100 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin: 0 auto;
  padding: 0 2.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #1f2937;
  /* Equivalent to text-gray-800 */
  margin-bottom: 2rem;
  padding-top: 2.5rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: left;
}
